<div class="container">
    <h2 class="text-center">All Users</h2>
    <hr >

  <div class="row justify-content-center">
  <% @users.each do |u| %>
    <%= render partial:'user', locals:{user: u} %>
  <% end %>
  </div>
</div>