<div class="container-fluid w-50 mx-auto">
  <%= render partial: 'create_new_post' %>
  
  <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <% @posts.each do |p| %>
    <%= render partial:'post', locals:{post: p} %>
  <% end %>
  <%= will_paginate @posts %>
</div>