<li class="nav-item border-right border-dark px-2">    
  <a class="link" data-toggle="collapse" href="#collapse<%=post.id  %>">Comment</a>
</li>
<li class="nav-item px-2 ">    
  <%= link_to "View Comments", post%> (<%= post.comments.count %>)
</li>

